{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block body %} 
<div class="container-fluid px-0">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/static/image/coffee.jpg" height="550" width="1000" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h4>Welcome to the best Cafe By Abhi.</h4>
        <p>Try our products once, trust me you won't regret.</p>
      </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/image/cafe_interior.png" height="550" width="1000" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h4>Welcome to the best Cafe By Abhi.</h4>
        <p>Try our products once, trust me you won't regret.</p>
      </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/image/Table_food.png" height="550" width="1000" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h4>Welcome to the best Cafe By Abhi.</h4>
        <p>Try our products once, trust me you won't regret.</p>
      </div>  
      </div>
    </div>
  </div>
</div>

<div class="container my-3">
<h1 class="my2 text-center">Select from our range of products.</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img src="/static/image/Chese_Cake.png" alt="">
        <div class="card-body">
          <p class="card-text">Wanna have a Chese Cake. It's the best among our other cakes.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img src="/static/image/Coffee_mug.png" alt="">
        <div class="card-body">
          <p class="card-text">Tired after a long journey, take one sip of our Coffee and feel relaxed.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img src="/static/image/Hot_chocolate_Muffins.png" alt="">
        <div class="card-body">
          <p class="card-text">One can't ignore the kid inside us. Lets become a child again. Hot Chocolate for every age group. </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img src="/static/image/coffee.jpg" alt="">
        <div class="card-body">
          <p class="card-text">Plain simple coffee. Don't worry sometimes we don't need to be flashy. It's just necessity.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img src="/static/image/Coffee_book.png" alt="">
        <div class="card-body">
          <p class="card-text">We have a paradise for our Nerds</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img src="/static/image/Yogurt_coffee.png" alt="">
        <div class="card-body">
          <p class="card-text">Icecream Coffee. Just to keepup with the fashion.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img src="/static/image/cookie_cup.png" alt="">
        <div class="card-body">
          <p class="card-text">Have a cokkie with the coffee.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img src="/static/image/Glass_Snack.png" alt="">
        <div class="card-body">
          <p class="card-text">We can serve the whole family. It's afternoon meal time.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img src="/static/image/Chocochip_Cake.png" alt="">
        <div class="card-body">
          <p class="card-text">Opps! Yes we still have these cakes. Don't worry we won't snitch. </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
